# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables and secrets
.env

# Jupyter
.ipynb_checkpoints/

# ML artifacts - managed by DVC later
data/
models/

# IDE
.vscode/
.idea/